
body{
    background-color: wheat;
    display:flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 90%;
}
h1{
    font-size: 18px;
    padding-bottom: 10px;
}
.token-jogada {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-in-out opacity 0.1s;
}
.jogador{
    cursor: pointer;
}
.versus{
    height: 60px;
}
.computador{
    filter: hue-rotate(180deg);
}
.apagado{
    opacity: 0.4;
}
.some{
    visibility: hidden;
}
.box{
    width: 100px;
    border: goldenrod solid 1px;
    min-height: 26px;
    display: flex;
    flex-wrap: wrap;
}
.mensagemJogada{
    display: flex;
    font-size: 14px;
    margin: 10px;
}
.mensagemJogada>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolinhas{
    display: flex;
}
.bola{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 2px;
}
.vermelho{
    background-color: #a73839;
}
.branco{
    background-color: seashell;
}
.azul{
    background-color: #006968;
}
.doInput{
    width: 30px;
    height: 22px;
    margin: 10px 10px 10px 0;
}

.divMelhor{
    display: flex;
}

.textoLinhaMelhorDe{
    font-size: 14px;
    font-family: monospace;  ;
}
.resultado{
    font-size: 20px;
    font-weight: bolder;
}

.divtextoBatalha{
    font-size: 16px;
}
.jogJogador{
    color: #a73839;
    font-weight: bold;
}

.jogPC{
    color: #006968;
    font-weight: bold;
}